-function sortByKey(array, key) {
  -return array.sort(function(a, b) {
    -var x = a[key]; var y = b[key];
    -return (y-x);
  -});
-}

-function sortJ(){
  -var arr = [];
  -for (post in public._data){
    -var obj = {date: public._data[post].date, post:post, description: public._data[post].description, slug: public._data[post].slug, author: public._data[post].author, layout: public._data[post].layout, title: public._data[post].title};
    -arr.push(obj);
  -}
  -return(sortByKey(arr, 'date').slice(0,9))
-}

doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title= site_title
    description= description
    link= site_url
    | <atom:link href="http://baseline.harp.nu/blog/rss.xml" rel="self" type="application/rss+xml" />
    for post in sortJ()
      if post.layout !== false
        item
          title= post.title
          description= post.description
          pubDate= (new Date(post.date)).toUTCString()
          link= site_url + "/" + post.slug
          guid(isPermaLink='true')= site_url + "/" + post.slug